body {
	margin: 0px;
	padding: 0px;
}

/* FLEXBOX */

#container {
	background-color: white;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
	width: 100vw;
	height: 100%;
	z-index: 1;
	

}

#left {
	flex: 1 1 25px;
	background-color: white;
}

#inside {
	flex: 1 1 100%;
	display: flex;
	background-color: white;
	flex-wrap: wrap;
	align-items: stretch;
}

#header {
	flex: 1 1 100%;
	height: 25px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: white;
	align-self: flex-start;
}

#main {
	flex: 1 1 100%;
	height: auto;
	background-color: white;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
	display: flex;
	margin: 0px;
	padding: 0px;
}

#footer {
	flex: 1 1 100%;
	height: 25px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: white;
	align-self: flex-end;
}

#right {
	flex: 1 1 25px;
	background-color: white;
}

/* CONTENT COLUMNS */

#Column1 {
	flex: 1 1 60%;
	background-color: white;
	padding: 0px;
	margin: 10px;
}

#Column2 {
	flex: 1 1 40%;
	min-width: 0px;
	background-color: white;
	padding: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
}

/* TYPOGRAPHY */

#column2 h2 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 18px;
	font-weight: normal;
	padding-top: 20px;
	margin-top: 0px;
}

#column1 .p {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 16px;
	color: gray;
}

#column1 .h2 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 28px;
	color: gray;
}

#column1 h2 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 28px;
	font-weight: normal;
}

#column1 p {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 16px;
}

a {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 18px;
	color: blue;
	text-decoration: underline;
}

/* Images */

.project img {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.thumbnailbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 0px;
	margin: 0px;
}

#projects {
	position: relative;
	top: 50px;
}

.project:last-of-type {
	padding-bottom: 50px;
}

/* Fake Site */

#fakesite {
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-y: scroll;
}

.background {
    background-image: url("Images/SepiaDesk.png");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#faketitle {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 75px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
	left: 9px;
}

#text {
	width: 520px;
	height: 300px;
	position: absolute;
	top: 30vh;
	left: 30vw;
}

#fakesub {
	font-family: "Nixie One", serif;
	font-size: 20px;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;

}

mark {
	background-color: rgba(255,255,255,0.5);
}

.invisible {
	opacity: 0;
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
}

.visible {
	opacity: 1;
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
}

#about {
	height: 1500px;
	width: 100vw;
	background-color: #2d2e2c;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 0px;
	left: 0px;
}

#fakeheading {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 70px;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 20px;
	clear: both;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}

.faketext {
	font-family: "Nixie One", serif;
	font-size: 20px;
	color: white;
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	width: 500px;
}

#para1 {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

#para2 {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

#photie {
	float: right;
	background-color: red;
	position: relative;
	top: -600px;
	left: -70px;
}

#photie img {
	width: 400px;
	height: 600px;
}

/* Logo styles */

#logo1 {
	font-size: 8pt;
  	font-family: Monospace;
  	white-space: pre;
  	padding: 0px;
  	margin: 0px;
}

#logo2 {
	font-size: 8pt;
  	font-family: Monospace;
  	white-space: pre;
  	padding: 0px;
  	margin: 0px;
}

#logo3 {
	font-size: 5pt;
  	font-family: Monospace;
  	white-space: pre;
  	padding: 0px;
  	margin: 0px;
}

/* WHERE THE MAGIC HAPPENS */

.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
}

.fixed2 {
	position: fixed;
	top: auto;
	left: auto;
}

.notfixed {
	position: absolute;
	top: 0px;
	left: 0px;
}

.gone {
	display: none;
}

.photoFalling {
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transition: all 1.0s;
}

.aboutfalling {
	transform: rotate(50deg);
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transition: all 1.0s;
}

.headingfalling1 {
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

.headingfalling2 {
	transition: all 1.0s;
	-webkit-transition: all 1.0s;
	-ms-transform: all 1.0s;
}

.subslip {
	transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transition: all 0.5s;
	transform-origin: top left;
}

#forman {
	z-index: 99;
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 1.0s;
	-webkit-transition: all 1.0s;
	-ms-transform: all 1.0s;
}

.sitefall1 {
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

.sitefall2 {
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transform: all 0.4s;
}

#actualcontainer {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transform: all 0.4s;
}

/* Responsive logos */

@media screen and (min-width: 1110px) {
	
	#logo1 {
		display: block;
	}

	#logo2 {
		display: none;
	}

	#logo3 {
		display: none;
	}
}

@media screen and (max-width: 1110px) {
	
	#logo1 {
		display: none;
	}

	#logo2 {
		display: block;
	}

	#logo3 {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	
	#logo1 {
		display: none;
	}

	#logo2 {
		display: none;
	}

	#logo3 {
		display: block;
	}

}

