body {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

/* FLEXBOX */

#container {
	background-color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	width: 100vw;
	height: 100%;
	z-index: 1;
	

}

#left {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 25px;
	        flex: 1 1 25px;
	background-color: white;
}

#inside {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: white;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

#header {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	height: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: white;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

#main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	height: auto;
	background-color: white;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px;
	padding: 0px;
}

#footer {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	height: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: white;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

#right {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 25px;
	        flex: 1 1 25px;
	background-color: white;
}

/* CONTENT COLUMNS */

#Column1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 60%;
	        flex: 1 1 60%;
	background-color: white;
	padding: 0px;
	margin: 10px;
}

#Column2 {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 40%;
	        flex: 1 1 40%;
	min-width: 0px;
	background-color: white;
	padding: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
}

/* TYPOGRAPHY */

#Column2 h2 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 18px;
	font-weight: normal;
	padding-top: 20px;
	margin-top: 0px;
}

#Column1 h4 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 20px;
	font-weight: normal;
	padding-top: 20px;
	margin-top: 0px;
	text-align: center;
}

#column1 .p {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 16px;
	color: gray;
}

#column1 .h2 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 28px;
	color: gray;
}

#column1 h2 {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 28px;
	font-weight: normal;
}

#column1 p {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 16px;
}

a {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 18px;
	color: blue;
	text-decoration: underline;
}

#Column1 ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#nav li {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 20px;
	font-weight: normal;
	padding-top: 20px;
	margin-top: 0px;
	list-style: none;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

/* Images */

.project img {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.thumbnailbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 0px;
	margin: 0px;
}

#projects {
	position: relative;
	top: 50px;
}

.project:last-of-type {
	padding-bottom: 50px;
}

/* Fake Site */

#fakesite {
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-y: scroll;
}

.background {
    background-image: url("Images/SepiaDesk.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

#faketitle {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 75px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: center;
}

#text {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 200px;
}

#fakesub {
	font-family: "Nixie One", serif;
	font-size: 20px;
	text-align: center;
	color: white;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;

}

mark {
	background-color: rgba(255,255,255,0.5);
}

.invisible {
	opacity: 0;
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
}

.visible {
	opacity: 1;
	transition: opacity 3s;
	-webkit-transition: opacity 3s;
}

#about {
	height: 1500px;
	width: 100vw;
	background-color: #2d2e2c;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

#fakeheading {
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 60px;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	padding-top: 20px;
	clear: both;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}

.faketext {
	font-family: "Nixie One", serif;
	font-size: 20px;
	color: white;
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	width: 500px;
}

#para1 {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

#para2 {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

#photie {
	padding: 0px;
	margin: 0px;
	margin-left: 50px;
	margin-top: 35px;
}

#photie img {
	width: 90%;
	height: 600px;
}

#abouttext {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 400px;
	        flex: 1 1 400px;
}

#aboutphoto {
	-webkit-box-flex: 1;
	    -ms-flex: 1 2 400px;
	        flex: 1 2 400px;
}

/* Logo styles */

#logo1 {
	font-size: 8pt;
  	font-family: Monospace;
  	white-space: pre;
  	padding: 0px;
  	margin: 0px;
}

#logo2 {
	font-size: 8pt;
  	font-family: Monospace;
  	white-space: pre;
  	padding: 0px;
  	margin: 0px;
}

#logo3 {
	font-size: 5pt;
  	font-family: Monospace;
  	white-space: pre;
  	padding: 0px;
  	margin: 0px;
}

/* WHERE THE MAGIC HAPPENS */

.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
}

.fixed2 {
	position: fixed;
	top: auto;
	left: auto;
}

.notfixed {
	position: absolute;
	top: 0px;
	left: 0px;
}

.gone {
	display: none;
}

.photoFalling {
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transition: all 1.0s;
	transition: all 1.0s;
}

.aboutfalling {
	transform: rotate(50deg);
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transition: all 1.0s;
	transition: all 1.0s;
}

.headingfalling1 {
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

.headingfalling2 {
	transition: all 1.0s;
	-webkit-transition: all 1.0s;
	-ms-transform: all 1.0s;
}

.subslip {
	transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform-origin: top left;
	        transform-origin: top left;
}

#forman {
	z-index: 99;
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 1.0s;
	-webkit-transition: all 1.0s;
	-ms-transform: all 1.0s;
}

.sitefall1 {
	transition: all 0.10s;
	-webkit-transition: all 0.10s;
	-ms-transform: all 0.10s;
}

.sitefall2 {
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transform: all 0.4s;
}

#actualcontainer {
	position: relative;
	top: 0px;
	left: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-ms-transform: all 0.4s;
}

/* Responsive logos */

@media screen and (min-width: 1110px) {
	
	#logo1 {
		display: block;
	}

	#logo2 {
		display: none;
	}

	#logo3 {
		display: none;
	}

	#subheading {
	display: block;
	}

	#subheading2 {
	display: none;
	}
}

/* MacBook-ish width */

@media screen and (max-width: 1110px) {
	
	#logo1 {
		display: none;
	}

	#logo2 {
		display: block;
	}

	#logo3 {
		display: none;
	}

	#subheading {
	display: block;
	}

	#subheading2 {
	display: none;
	}
}

@media screen and (max-width: 900px){

	#photie {
		display: none;
	}
	
}

@media screen and (max-width: 800px) {
	
	#background {
		background-attachment: 
	}

}

@media screen and (max-width: 750px) {
	
	#logo1 {
		display: none;
	}

	#logo2 {
		display: none;
	}

	#logo3 {
		display: block;
	}

	#subheading {
	display: block;
	}

	#subheading2 {
	display: none;
	}

}

@media screen and (max-width: 680px) {

	#main {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	#Column1 {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}

	#Column2 {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		margin-left: 10px;
	}

	#logo3 {
		font-size: 7pt;
		text-align: center;
	}

	#subheading {
	display: none;
	}

	#subheading2 {
	display: block;
	}

	.resizelink {
		font-size: 24px;
	}
	
}

@media screen and (max-width: 600px) {

	#faketitle {
		font-size: 55px;
	}

	#fakesub {
		font-size: 15px;
	}
	
}

@media screen and (max-width: 400px) {

	#faketitle {
		font-size: 50px;
	}

	#fakesub {
		font-size: 12px;
	}
	
}

@media screen and (max-width: 340px) {

	#faketitle {
		font-size: 45px;
	}
	
	#fakesub {
		font-size: 10px;
	}
}