html {
	margin: 25px;
	padding: 0px;
	padding-bottom: 50px;
}

body {
	margin: 0px;
	padding: 0px;
	max-width: 600px;
}

html {
	background-color: #FFFFFF;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

body p, a, h1, h2 {
	color: #000000;
}

body p {
	font-size: 12pt;
	text-align: justify;
	-webkit-hyphens: manual;
	    -ms-hyphens: manual;
	        hyphens: manual;
}

body h1 {
	font-size: 24pt;
}

body h2 {
	font-size: 18pt;
}

body a {
	text-decoration: underline;
}

.quoteital {
	margin-right: 4pt;
}

#topheader {
	margin-top: 0px;
}

.listlink {
	line-height: 150%;
}

a:hover {
	color: blue;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}


/* Mobile Text Justification */

@media only screen and (max-width: 425px) {
	body {
		text-align: auto;
	}
}

/* Light Mode*/

@media (prefers-color-scheme: light) {
	body a {
		-webkit-text-decoration-color: blue;
		        text-decoration-color: blue;
	}

	::-moz-selection {
		color: #FFFFFF;
		background-color: blue;
	}

	::selection {
		color: #FFFFFF;
		background-color: blue;
	}

	#cover {
		background-color: #FFFFFF;
	}
}

 /* Dark Mode */
 
@media (prefers-color-scheme: dark) {
	body p, a, h1, h2 {
		color: #E0E0E0;
		-webkit-text-decoration-color: #99D1E9;
		        text-decoration-color: #99D1E9;
	}

	html {
		background-color: #080808
	}

	a:hover {
		color: #99D1E9;
		-webkit-transition: color 0.5s;
		-o-transition: color 0.5s;
		transition: color 0.5s;
	}

	::-moz-selection {
		color: #080808;
		background-color: #99D1E9;
	}

	::selection {
		color: #080808;
		background-color: #99D1E9;
	}

	#cover {
		background-color: #080808;
	}
}

/* Cover */

#cover {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: transform 0.25s;
}