html {
	margin: 25px;
	padding: 0px;
	padding-right: 25px;
}

body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

body p {
	font-size: 12pt;
}

body h1 {
	font-size: 24pt;
}

body h2 {
	font-size: 18pt;
}

body a {
	text-decoration: underline;
	color: #000000;
}

.quoteital {
	margin-right: 4pt;
}

@media only screen and (max-width: 600px) {
  html {
    padding-right: 0px;
  }
}