html {
	margin: 25px;
	padding: 0px;
	padding-bottom: 50px;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SpaceGrotesk/SpaceGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

body {
	margin: 0px;
	padding: 0px;
	max-width: 600px;
	font-family: SpaceGrotesk;
}

html {
	background-color: #FFFFFF;
}

p, a, h1, h2, h3, h4, h5, b, i, u, s, li {
	color: #000000;
}

h1 {
	font-size: 24pt;
	margin: 0px;
	padding: 0px;
	font-style: bold;
}

h2, h3, h4, h5 {
	margin: 0px;
	padding: 0px;
	font-style: bold;
}

h2 {
	font-size: 18pt;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
	font-size: 16pt;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}

h4 {
	font-size: 14pt;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	font-weight: normal;
}

h5 {
	font-family: 12pt;
}

p {
	font-size: 12pt;
	text-align: left;
	margin: 0px;
	padding: 0px;
	margin-top: 7px;
	margin-bottom: 7px;
}

a {
	text-decoration: underline;
}

a:hover {
	color: blue;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}

u {
	text-decoration-color: #000000;
}

s {
	text-decoration-color: #000000;
}

mark {
	background-color: blue;
}

blockquote {
	margin: auto;
	margin-top: 14px;
	margin-bottom: 14px;
	width: 90%;
	border-left: 1px solid #000000;
	padding: 10px;
}

blockquote p {
	margin: auto;
	font-style: italic;
}

ol {
	list-style-type: decimal-leading-zero;
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	margin-top: 14px;
	margin-bottom: 14px;
}

ul {
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	list-style-position: inside;
	margin-top: 14px;
	margin-bottom: 14px;
}

hr {
	border-width: 1px solid;
	margin: 0px;
	padding: 0px;
	margin-top: 14px;
	margin-bottom: 14px;
}

img {
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.tab {
	margin-left: 20px;
}

.quoteital {
	margin-right: 4pt;
}

#topheader {
	margin: 0px;
	padding: 0px;
	padding-bottom: 20px;
}

#topheader a {
	text-decoration: none;
}

#topheader a:hover {
	color: #000000;
}

.listlink {
	line-height: 150%;
}

/* Mobile */

@media only screen and (max-width: 425px) {

	blockquote p {
  	text-align: left;
	}
}

/* Light Mode*/

@media (prefers-color-scheme: light) {

	a {
		-webkit-text-decoration-color: blue;
		        text-decoration-color: blue;
	}

	::-moz-selection {
		color: #FFFFFF;
		background-color: blue;
	}

	::selection {
		color: #FFFFFF;
		background-color: blue;
	}
}

 /* Dark Mode */
 
@media (prefers-color-scheme: dark) {

	p, a, h1, h2, h3, h4, h5, b, i, u, s, li {
		color: #E0E0E0;
		-webkit-text-decoration-color: #99D1E9;
		        text-decoration-color: #99D1E9;
	}

	html {
		background-color: #1E1E1E
	}

	u {
		text-decoration-color: #E0E0E0;
	}

	s {
		text-decoration-color: #E0E0E0;
	}

	blockquote {
		border-color: #E0E0E0;
	}

	mark {
		background-color: #99D1E9;
		color: #1E1E1E;
	}

	#topheader a {
		text-decoration: none;
	}

	#topheader a:hover {
		color: #E0E0E0;
	}

	a:hover {
		color: #99D1E9;
		-webkit-transition: color 0.5s;
		-o-transition: color 0.5s;
		transition: color 0.5s;
	}

	::-moz-selection {
		color: #1E1E1E;
		background-color: #99D1E9;
	}

	::selection {
		color: #1E1E1E;
		background-color: #99D1E9;
	}
}