<!DOCTYPE html>
<html id="container">
<head>
	<!-- My Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../style/style.css">

	<!-- Primary Meta Tags -->
	<title>PAGE TITLE - Evan Forman</title>
	<meta name="title" content="PAGE TITLE">
	<meta name="description" content="PAGE DESC">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="PAGE URL">
	<meta property="og:title" content="PAGE TITLE">
	<meta property="og:description" content="PAGE DESC">
	<meta property="og:image:secure_url" content="images/HERO-IMAGE-LINK">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="PAGE URL">
	<meta property="twitter:title" content="PAGE TITLE">
	<meta property="twitter:description" content="PAGE DESC">
	<meta property="twitter:image" content="images/HERO-IMAGE-LINK">
</head>
<body id="body">

	<!-- Site Header -->

	<h1 id="topheader"><a href="https://www.evanforman.com">PAGE TITLE</a></h1>
	
	<!-- Entry -->

	<h2>TITLE GOES HERE</h2>

	<!-- Image -->
	<img src="../images/HERO-IMAGE-LINK" alt="[ALT TEXT]">

	<!-- Body -->
	<h2 id="This is H2">This is H2</h2>
	<h3 id="This is H3">This is H3</h3>
	<h4 id="This is H4">This is H4</h4>
	<br>
	<p><b>This is bold text</b></p>
	<p><i>This is italic text</i></p>
	<p><u>This is underlined text</u></p>
	<p><s>This is strikethrough text</s></p>
	<p>This is <mark>marked</mark> text.</p>
	<p><a href="evanforman.com">This is a link</a></p>
	<ul><li>This
	</li><li>is
	</li><li>a
	</li><li>list
	</li></ul>
	<ol start="1"><li>This
	</li><li>is
	</li><li>an
	</li><li>ordered
	</li><li>list
	</li></ol>
	<blockquote>
	<p>This is a quote</p>
	</blockquote>
	<hr>
	<p>These are line seperators</p>
	<hr>
	<!-- Goatcounter -->
	<script data-goatcounter="https://xw5ssagpahkn.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>